# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/node/node_modules/npm/bin/node-gyp-bin/node-gyp

/.vs/emotorad-ui/FileContentIndex/2b22f611-6113-4c3b-bd3b-4b8156f97895.vsidx
/.vs/emotorad-ui/FileContentIndex/2d2ce84d-e27c-4ba5-bb56-ecce0f43a294.vsidx
/.vs/emotorad-ui/FileContentIndex/7ed69d81-28a8-46b8-bffb-c85b648bf27d.vsidx
/.vs/emotorad-ui/FileContentIndex/84b77dae-7863-4228-accb-6da9b6610f55.vsidx
/.vs/emotorad-ui/FileContentIndex/dcc9c936-9b59-4924-8eb4-de37298b7569.vsidx
/.vs/slnx.sqlite
